# Configuración de la Base de Datos (PostgreSQL)
DATABASE_URL="postgresql://usuario:password@host:5432/dbname?sslmode=require"
DIRECT_URL="postgresql://usuario:password@host:5432/dbname?sslmode=require"

# Configuración del Servidor Backend
PORT=3000
BACKEND_URL="http://192.168.1.X:3000"

# Seguridad y Autenticación
JWT_SECRET="super_secret_key"

# Integración con Cloudinary (Imágenes)
CLOUDINARY_CLOUD_NAME="tu_cloud_name"
CLOUDINARY_API_KEY="tu_api_key"
CLOUDINARY_API_SECRET="tu_api_secret"

# Inteligencia Artificial (Google Gemini)
GEMINI_API_KEY="tu_api_key_de_gemini"

# Google OAuth (Login Social)
GOOGLE_CLIENT_ID="tu_client_id_web.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="tu_client_secret"
GOOGLE_ANDROID_CLIENT_ID="tu_client_id_android.apps.googleusercontent.com"

# Servidor de Correos (SMTP)
SMTP_EMAIL="tu_correo@gmail.com"
SMTP_PASSWORD="tu_password_de_aplicacion"
